/* src/components/SkillsRequired.css */
.skills-required {
    background-color: #ffffff;
    padding: 16px 20px;
    border-bottom: 1px solid #e0e0e0;
    font-family: Arial, sans-serif;
    margin-left: 20px;
}

.skills-row {
    display: flex;
}

.skills-column {
    margin-right: 80px;
    margin-bottom: 12px;
}

.skills-column h3 {
    text-align: left;
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
    font-weight: normal;
    text-transform: none;
}

.skills-column p {
    font-weight: 700;
}

.skills-column p, .skills-list li {
    font-size: 14px;
    color: #333;
    margin: 0;
    display: block;
    border-radius: 4px;
    text-align: left;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* .skills-list li {
    display: block;
    padding: 2px 5px;
    border: 1px solid #e0e0e0;
    margin: 4px 0;
    text-align: left;
} */
.skills-list li {
    margin-bottom: 3px; /* Remove margin-bottom */
    padding: 2px 5px; /* Add padding to the list item */
    border: 1px solid #e0e0e0;
    max-width: fit-content;
}

.skills-list img {
    width: 14px;
    height: 14px;
}
